﻿@model hpi_user_assessment_tool.ViewModel.AccessoriesProducts
@using hpi_user_assessment_tool;
@using hpi_user_assessment_tool.Data;
@using hpi_user_assessment_tool.Services;
@using hpi_user_assessment_tool.Models.DTO;
<link type="text/css" href="~/Content/report.css" rel="stylesheet" />

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div id="page" >
    <div id="header" class="header">
        <span>HP DeviceWise Recommendation</span>
    </div>
    <div class="feature">
        <div class="feature-inner marginTop25">
            <span class="companyName marginTop10">@Model.customerName</span>
        </div>
        <div class="feature-other marginTop10">
            <span>@Model.profile.name</span>
        </div>
        @if(!string.IsNullOrEmpty(Model.profile.insertTimestamp))
        {
            <div class="feature-other marginTop10 dateTime">
                <span>Recommendation as of @DateTime.Parse(Model.profile.insertTimestamp).ToString("dd/MM/yyyy")</span>
                <br />
            </div>
        }
    </div>
    <div>
        <div class="recommendations marginTop15 ">
            @{ int i = 1;}
            <table>
                <tr>
                    <td class="alignTopTD">
                        <span class="customerDetails">Security Requirements:</span>
                        <span class="fontColorGrey" id="@string.Format("spanAnswerTag{0}", i++)">
                            @Model.selectedAnswerText["Security Requirements"]
                        </span>
                    </td>
                    <td class="alignTopTD">
                        <span class="customerDetails">Mobility:</span>
                        <span class="fontColorGrey" id="@string.Format("spanAnswerTag{0}", i++)">
                            @Model.selectedAnswerText["Mobility"]
                        </span>
                    </td>
                    <td class="alignTopTD">
                        <span class="customerDetails">Application Usage:</span>
                        <span class="fontColorGrey" id="@string.Format("spanAnswerTag{0}", i++)">
                            @Model.selectedAnswerText["Application Usage"]
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="alignTopTD">
                        <span class="customerDetails">Operating Systems:</span>
                        <span class="fontColorGrey" id="@string.Format("spanAnswerTag{0}", i++)">
                            @Model.selectedAnswerText["Operating Systems"]
                        </span>
                    </td>
                    <td class="alignTopTD">
                        <span class="customerDetails">Work Environment:</span>
                        <span class="fontColorGrey" id="@string.Format("spanAnswerTag{0}", i++)">
                            @Model.selectedAnswerText["Work Environment"]
                        </span>
                    </td>
                    <td class="alignTopTD">
                        <span class="customerDetails">Online Collaboration:</span>
                        <span class="fontColorGrey" id="@string.Format("spanAnswerTag{0}", i++)">
                            @Model.selectedAnswerText["Online Collaboration"]
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="alignTopTD">
                        <span class="customerDetails">Critical Requirements:</span>
                        <span class="fontColorGrey" id="@string.Format("spanAnswerTag{0}", i++)">
                            @Model.selectedAnswerText["Critical Requirements"]
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @{
        List<ProductFeatureDTO> productFootNoteList = new List<ProductFeatureDTO>();
        productFootNoteList.AddRange(Model.SelectedProduct.productFootNoteList);
    }
    <div class="device">
        <span class="deviceHeading">@Model.SelectedProduct.Name</span>
        <div class="deviceContent">
            <div class="productImageDiv"><img class="accessoriesImage" src="@Model.SelectedProduct.primaryImageUrl"></div>
            <div class="productDetailsDiv">
                <span class="recommenedData">
                    @foreach (var feature in @Model.SelectedProduct.productFeatureList)
            {
                        <span>@feature.elementValue</span>
                    }
                </span>
                <br><br>
                <div class="recommenedData">
                    <span>SKU:@Model.SelectedProduct.sku</span>
                    @if (!string.IsNullOrEmpty(@Model.SelectedProduct.datasheet))
            {
                        <span class="orOperataor">|</span> <a class="link" href="@Model.SelectedProduct.datasheet">DataSheet</a>
                    }
                    @if (!string.IsNullOrEmpty(@Model.SelectedProduct.quickspecs))
            {
                        <span class="orOperataor">|</span> <a class="link" href="@Model.SelectedProduct.quickspecs">QuickSpecs</a>
                    }
                </div>
            </div>
        </div>
    </div>
    @{
        List<string> usrSelectedDocksSkus = Model.profile.SelectedAccessories.SingleOrDefault(p => p.category == "dock").USRSelectedAccessoriesSkus.Select(p => p.sku).ToList();
        List<string> usrSelectedDisplaySkus = Model.profile.SelectedAccessories.SingleOrDefault(p => p.category == "display").USRSelectedAccessoriesSkus.Select(p => p.sku).ToList();
        List<string> usrSelectedAccessoriesSkus = Model.profile.SelectedAccessories.SingleOrDefault(p => p.category == "accessories").USRSelectedAccessoriesSkus.Select(p => p.sku).ToList();
        List<string> usrSelectedServiceSkus = new List<string>();
        if (Model.profile.SelectedAccessories.SingleOrDefault(p => p.category == "service") != null)
        {
            usrSelectedServiceSkus = Model.profile.SelectedAccessories.SingleOrDefault(p => p.category == "service").USRSelectedAccessoriesSkus.Select(p => p.sku).ToList();
        }

        List<string> usrSelectedDaasServiceSkus = new List<string>();
        if (Model.profile.SelectedAccessories.SingleOrDefault(p => p.category == "daas-service") != null)
        {
            usrSelectedDaasServiceSkus = Model.profile.SelectedAccessories.SingleOrDefault(p => p.category == "daas-service").USRSelectedAccessoriesSkus.Select(p => p.sku).ToList();
        }
    }
    @if (Model.AccessoryList != null && Model.AccessoryList.Count > 0)
            {
        <div class="accessories marginTop25">
            <div>
                <span class="fontSize30">Supporting Accessories</span>
                <hr />
            </div>
                @foreach (var accessory in Model.AccessoryList.Where(p => usrSelectedDocksSkus.Contains(p.sku)))
                {
                <table class="fixHeightAccessories">
                    <tr>
                        <td colspan="2"><span class="recommendHeading">@accessory.name</span></td>
                    </tr>
                    <tr>
                        <td><img class="accessoriesImage" src="@accessory.primaryImageUrl"></td>
                        <td class="accessoryDetailsTD">
                            <span>
                                @{string sellingKeyNotes = "";}
                                @foreach (var feature in accessory.productFeatureList)
                                {
                                    sellingKeyNotes = sellingKeyNotes + feature.elementValue;
                                }

                                @if (sellingKeyNotes.Length > 332)
                                {
                                    sellingKeyNotes = sellingKeyNotes.Substring(0, 332) + "...";
                                }
                                <span>@sellingKeyNotes</span>
                                @{  productFootNoteList.AddRange(accessory.productFootNoteList);}
                            </span>
                            <br><br>
                            <div>
                                <span>SKU:@accessory.sku</span>
                                @if (!string.IsNullOrEmpty(accessory.datasheet))
                    {
                                    <span class="orOperataor">|</span> <a class="link" href="@accessory.datasheet">DataSheet</a>
                                }
                                @if (!string.IsNullOrEmpty(accessory.quickspecs))
                    {
                                    <span class="orOperataor">|</span> <a class="link" href="@accessory.quickspecs">QuickSpecs</a>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2"><hr /></td></tr>
                </table>
                                    }

                @foreach (var accessory in Model.AccessoryList.Where(p => usrSelectedDisplaySkus.Contains(p.sku)))
                {
                <table class="fixHeightAccessories">
                    <tr>
                        <td colspan="2"><span class="recommendHeading">@accessory.name</span></td>
                    </tr>
                    <tr>

                        <td><img class="accessoriesImage" src="@accessory.primaryImageUrl"></td>
                        <td class="accessoryDetailsTD">
                            <span>
                                @{string sellingKeyNotes = "";}
                                @foreach (var feature in accessory.productFeatureList)
                                {
                                    sellingKeyNotes = sellingKeyNotes + feature.elementValue;
                                }

                                @if (sellingKeyNotes.Length > 332)
                                {
                                    sellingKeyNotes = sellingKeyNotes.Substring(0, 332) + "...";
                                }
                                <span>@sellingKeyNotes</span>
                                @{  productFootNoteList.AddRange(accessory.productFootNoteList);}
                            </span>
                            <br><br>
                            <div>
                                <span>SKU:@accessory.sku</span>
                                @if (!string.IsNullOrEmpty(accessory.datasheet))
                    {
                                    <span class="orOperataor">|</span> <a class="link" href="@accessory.datasheet">DataSheet</a>
                                }
                                @if (!string.IsNullOrEmpty(accessory.quickspecs))
                    {
                                    <span class="orOperataor">|</span> <a class="link" href="@accessory.quickspecs">QuickSpecs</a>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2"><hr /></td></tr>
                </table>
                                    }

                @foreach (var accessory in Model.AccessoryList.Where(p => usrSelectedAccessoriesSkus.Contains(p.sku)))
                {
                <table class="fixHeightAccessories">
                    <tr>
                        <td colspan="2"><span class="recommendHeading">@accessory.name</span></td>
                    </tr>
                    <tr>

                        <td><img class="accessoriesImage" src="@accessory.primaryImageUrl"></td>
                        <td class="accessoryDetailsTD">
                             <span>
                                @{string sellingKeyNotes = "";}
                                @foreach (var feature in accessory.productFeatureList)
                                {
                                    sellingKeyNotes = sellingKeyNotes + feature.elementValue;
                                }

                                @if (sellingKeyNotes.Length > 332)
                                {
                                    sellingKeyNotes = sellingKeyNotes.Substring(0, 332) + "...";
                                }
                                <span>@sellingKeyNotes</span>
                                @{  productFootNoteList.AddRange(accessory.productFootNoteList);}
                            </span>
                            <br><br>
                            <div>
                                <span>SKU:@accessory.sku</span>
                                @if (!string.IsNullOrEmpty(accessory.datasheet))
                    {
                                    <span class="orOperataor">|</span> <a class="link" href="@accessory.datasheet">DataSheet</a>
                                }
                                @if (!string.IsNullOrEmpty(accessory.quickspecs))
                    {
                                    <span class="orOperataor">|</span> <a class="link" href="@accessory.quickspecs">QuickSpecs</a>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2"><hr /></td></tr>
                </table>
                                    }
            
        </div>
                                    }

    @if (Model.AccessoryList.Where(p => usrSelectedServiceSkus.Contains(p.sku)) != null && Model.AccessoryList.Where(p => usrSelectedServiceSkus.Contains(p.sku)).Count() > 0)
            {
        <div id="services" class="accessories">
            <div>
                <span class="fontSize30">Recommended Services</span>
                <hr />
            </div>
            
                @foreach (var accessory in Model.AccessoryList.Where(p => usrSelectedServiceSkus.Contains(p.sku)))
                {
                  <table class="fixHeightAccessories">
                    <tr>
                        <td colspan="2"><span class="recommendHeading">@accessory.name</span></td>
                    </tr>
                    <tr>

                        <td><img class="accessoriesImage" src="@accessory.primaryImageUrl"></td>
                        <td class="accessoryDetailsTD">
                             <span>
                                @{string sellingKeyNotes = "";}
                                @foreach (var feature in accessory.productFeatureList)
                                {
                                    sellingKeyNotes = sellingKeyNotes + feature.elementValue;
                                }

                                @if (sellingKeyNotes.Length > 332)
                                {
                                    sellingKeyNotes = sellingKeyNotes.Substring(0, 332) + "...";
                                }
                                <span>@sellingKeyNotes</span>
                                @{  productFootNoteList.AddRange(accessory.productFootNoteList);}
                            </span>
                            <br><br>
                            <div>
                                <span>SKU:@accessory.sku</span>
                                @if (!string.IsNullOrEmpty(accessory.datasheet))
                    {
                                    <span class="orOperataor">|</span> <a class="link" href="@accessory.datasheet">DataSheet</a>
                                }
                                @if (!string.IsNullOrEmpty(accessory.quickspecs))
                    {
                                    <span class="orOperataor">|</span> <a class="link" href="@accessory.quickspecs">QuickSpecs</a>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2"><hr /></td></tr>
            </table>
                                    }
        </div>
                                    }

    @if (Model.productDaasServiceDTO.Where(p => usrSelectedDaasServiceSkus.Contains(p.sku)) != null && Model.productDaasServiceDTO.Where(p => usrSelectedDaasServiceSkus.Contains(p.sku)).Count() > 0)
            {
        <div id="services" class="accessories">
            <div>
                <span class="fontSize30">Recommended Services</span>
                <hr />
            </div>

            @foreach (var accessory in Model.productDaasServiceDTO.Where(p => usrSelectedDaasServiceSkus.Contains(p.sku)))
                {
                <table class="fixHeightAccessories">
                    <tr>
                        <td colspan="2"><span class="recommendHeading">@accessory.name</span></td>
                    </tr>
                    <tr>

                        <td><img class="accessoriesImage" src="@accessory.primaryImageUrl"></td>
                        <td class="accessoryDetailsTD">
                            <span>
                                @{string sellingKeyNotes = "";}
                                @foreach (var feature in accessory.productFeatureList)
                                {
                                    sellingKeyNotes = sellingKeyNotes + feature.elementValue;
                                }

                                @if (sellingKeyNotes.Length > 332)
                                {
                                    sellingKeyNotes = sellingKeyNotes.Substring(0, 332) + "...";
                                }
                                <span>@sellingKeyNotes</span>
                                @{  productFootNoteList.AddRange(accessory.productFootNoteList);}
                            </span>
                            <br><br>
                            <div>
                                <span>SKU:@accessory.sku</span>
                                @if (!string.IsNullOrEmpty(accessory.datasheet))
                                {
                                    <span class="orOperataor">|</span> <a class="link" href="@accessory.datasheet">DataSheet</a>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr><td colspan="2"><hr /></td></tr>
                </table>
                                    }
        </div>
                                    }
    <div class="footer">

        <table>
            <tr>
                <td>
                    <div class="footerSeparation"></div>
                </td>
            </tr>

            @foreach (ProductFeatureDTO footnote in productFootNoteList)
            {
                <tr>
                    <td class="footerNotes">
                        @footnote.elementValue
                    </td>
                </tr>
            }
        </table>
    </div>

<script>
    var tagRemover = function () {
        for (var i = 1; i <= 7; i++) {
            var spanObj = document.getElementById("spanAnswerTag" + i);
            var div = document.createElement("div");
            div.innerHTML = spanObj.innerHTML;
            var text = div.textContent || div.innerText || "";
            spanObj.innerHTML = text;
        }
    }
    tagRemover();
    tagRemover();
</script>